[flake8]

exclude = .git,__pycache__,docs/,requirements/,conf/settings/, api_mock/conf/settings/, .env/, **/migrations/, deploy/, api_mock/deploy/
show-source = True
statistics = True
count = True
max-line-length = 100
